body {
  background: url(../images/books.png) no-repeat top center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Fjalla One';
}

h1, h4 {
  color: gold;
  text-shadow: 1px 1px 1px darkgoldenrod;
}

#login-form {
  display: none;
}

div#header {
  background: #eee;
  padding: 10px;
  overflow: hidden;
}

div#header h2 {
  display: inline;
}

#logout {
  float: right;
}
